/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes rotation {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(30deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes fading {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes top-to-bottom {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-3px); }
  75% {
    transform: translateY(0); }
  90% {
    transform: translateY(-3px); }
  0% {
    transform: translateY(0); } }

@keyframes top-to-bottom-right-bar {
  0% {
    transform: translateY(0) rotate(-90deg); }
  50% {
    transform: translateY(-3px) rotate(-90deg); }
  75% {
    transform: translateY(0) rotate(-90deg); }
  90% {
    transform: translateY(-3px) rotate(-90deg); }
  0% {
    transform: translateY(0) rotate(-90deg); } }

.warning {
  color: red;
  width: 100%;
  text-align: center; }

:root {
  --primary-color: #14FFEC;
  --primary-variant: #ff2d2d;
  --secondary-color: #1b9999;
  --on-primary: rgb(250, 250, 250);
  --on-background: rgb(66, 66, 66);
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --background: rgb(255, 255, 255);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5); }

[data-theme="dark"] {
  --primary-color: rgb(150, 65, 255);
  --primary-variant: #6c63ff;
  --secondary-color: #03dac5;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: #121212; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  color: var(--on-background);
  font-family: Comfortaa, sans-serif;
  background-color: #0a192f;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%231e2e46' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"); }

/**
 * Basic typography style for copy text
 */
body {
  color: white;
  font: normal 125%/1.4 white; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.primary {
  color: #14FFEC; }

.primary-hover:hover {
  color: #14FFEC;
  animation: top-to-bottom .8s linear;
  cursor: pointer; }

.primary-dark {
  color: #8892B0; }

.primary-light {
  color: #CCD6F6; }

.inline {
  display: inline; }

.fading {
  animation: fading .9s infinite; }

li::marker {
  display: none; }

nav {
  margin: 30px 100px;
  display: block;
  height: 50px; }
  nav .brand {
    position: absolute;
    height: 150px;
    width: 150px;
    left: .2rem;
    top: 0; }
  nav .right-nav-list {
    font-family: monospace; }
  nav ul {
    float: right; }
    nav ul li {
      display: inline-block;
      padding: 3px 4px; }

.left-bar {
  position: fixed;
  left: 0;
  width: 100px;
  margin-top: 30px;
  height: 90vh; }
  .left-bar-social {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    font-size: 30px; }
  .left-bar-social::after {
    content: '';
    width: 2px;
    margin: 4px 0 0 14px;
    height: 200px;
    display: inline-block;
    background-color: #CCD6F6; }

.right-bar {
  position: fixed;
  font-family: monospace;
  font-size: 1.2rem;
  right: 0;
  width: 100px;
  height: 100vh;
  padding-top: 50vh;
  letter-spacing: 3px; }
  .right-bar p {
    transform: rotate(-90deg); }
    .right-bar p:hover {
      animation: top-to-bottom-right-bar .8s linear;
      color: #14FFEC; }
    .right-bar p::after {
      content: '';
      width: 400px;
      height: 2px;
      position: absolute;
      bottom: 10px;
      margin-left: -420px;
      display: block;
      background-color: #CCD6F6; }

.main {
  margin: 50px 100px 200px 100px;
  font-family: monospace;
  font-weight: 100; }
  .main .greetings {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 240px; }
    .main .greetings-text {
      margin-top: 7%;
      text-align: center;
      max-height: 170px; }
    .main .greetings-image, .main .greetings-text {
      width: 50%; }
    .main .greetings-img {
      min-width: 350px; }
    .main .greetings-img {
      max-width: 700px;
      max-height: 500px;
      height: 100%;
      width: 100%; }
    .main .greetings .text-writer {
      font-size: 30px;
      font-weight: 900; }
  .main .emote-rotate {
    display: inline-block;
    animation: rotation 0.6s linear infinite; }
  .main .heading {
    font-size: 2rem; }
  .main .about-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 240px; }
    .main .about-inner-column {
      width: 35%;
      margin: 0 auto;
      position: relative; }
      .main .about-inner-column-title::after {
        content: '';
        position: absolute;
        width: 70%;
        top: 44px;
        height: 2px;
        margin: 0 0 6px 6px;
        display: inline-block;
        background-color: #CCD6F6; }
      .main .about-inner-column-text {
        margin: 0 0 0 10%;
        position: relative; }
    .main .about-inner-image {
      width: 25%;
      margin: 0 auto;
      position: relative; }
      .main .about-inner-image-picture {
        background-image: url("../../assets/eu.png");
        min-width: 230px;
        max-width: 230px;
        height: 300px;
        background-size: cover;
        filter: grayscale(100%); }
        .main .about-inner-image-picture:hover {
          filter: grayscale(0%);
          animation: fading 1s linear;
          cursor: pointer; }
          .main .about-inner-image-picture:hover + .about-inner-image-border {
            top: 20px;
            left: 20px; }
      .main .about-inner-image-border {
        transition: all 1 ease;
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: -1;
        min-width: 230px;
        min-height: 300px;
        border: solid #14FFEC;
        transition: all 0.25s; }
  .main .skills {
    text-align: center; }

@media only screen and (max-width: 1150px) {
  .main {
    margin: 50px 5vw 200px 5vw; }
  .left-bar, .right-bar {
    display: none; }
  .greetings .heading {
    font-size: 1.7rem; }
  .greetings-image {
    min-width: 280px !important; }
  .about {
    width: 70% !important;
    display: block;
    margin: 0 auto; }
    .about-inner-column, .about-inner-image {
      margin: 0 auto !important;
      width: 100% !important; }
    .about-inner-image {
      display: block !important;
      margin: 100px 300vw 0 300vw !important; } }

@media only screen and (max-width: 780px) {
  .greetings-image, .greetings-text {
    width: 100% !important;
    margin: 30px 0;
    text-align: center; }
  .greetings-img {
    max-width: 400px !important; } }
