/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes rotation {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(30deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes fading {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes top-to-bottom {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-3px); }
  75% {
    transform: translateY(0); }
  90% {
    transform: translateY(-3px); }
  0% {
    transform: translateY(0); } }

@keyframes top-to-bottom-right-bar {
  0% {
    transform: translateY(0) rotate(-90deg); }
  50% {
    transform: translateY(-3px) rotate(-90deg); }
  75% {
    transform: translateY(0) rotate(-90deg); }
  90% {
    transform: translateY(-3px) rotate(-90deg); }
  0% {
    transform: translateY(0) rotate(-90deg); } }

.warning {
  color: red;
  width: 100%;
  text-align: center; }

:root {
  --primary-color: #14FFEC;
  --primary-variant: #ff2d2d;
  --secondary-color: #1b9999;
  --on-primary: rgb(250, 250, 250);
  --on-background: rgb(66, 66, 66);
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --background: rgb(255, 255, 255);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5); }

[data-theme="dark"] {
  --primary-color: rgb(150, 65, 255);
  --primary-variant: #6c63ff;
  --secondary-color: #03dac5;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: #121212; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  color: var(--on-background);
  font-family: Comfortaa, sans-serif;
  background-color: #0a192f;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%231e2e46' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  overflow-x: hidden; }

/**
 * Basic typography style for copy text
 */
body {
  color: white;
  font: normal 125%/1.4 white; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

nav {
  padding: 15px 40px;
  height: 80px;
  background-color: black;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 3;
  transition: .5s ease; }
  nav .iconify {
    position: absolute;
    z-index: 4;
    width: 50px;
    height: 55px; }
    nav .iconify:hover {
      cursor: pointer; }
  nav .middle-nav-list {
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    position: relative; }
    nav .middle-nav-list .toggle {
      position: absolute;
      right: 0;
      top: 2px;
      right: -15px;
      width: 50px;
      height: 50px;
      background-color: #0a192f;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
      border-radius: 10px;
      display: none;
      overflow: hidden;
      cursor: pointer; }
      nav .middle-nav-list .toggle span {
        position: absolute;
        top: 25px;
        width: 30px;
        right: 10px;
        height: 4px;
        background: #14FFEC;
        border-radius: 4px;
        transition: 0.5s; }
        nav .middle-nav-list .toggle span:nth-child(1) {
          transform: translateY(-10px);
          width: 20px;
          right: 10px; }
        nav .middle-nav-list .toggle span:nth-child(2) {
          transform: translateY(10px);
          width: 15px;
          right: 10px; }
      nav .middle-nav-list .toggle.active span:nth-child(3) {
        transform: translateX(60px); }
      nav .middle-nav-list .toggle.active span:nth-child(2) {
        transform: translateY(0px) rotate(60deg);
        width: 30px; }
      nav .middle-nav-list .toggle.active span:nth-child(1) {
        width: 30px;
        transform: translateY(0px) rotate(-60deg); }
  nav .navigation-items {
    display: inline-block;
    line-height: 20px; }
    nav .navigation-items li {
      display: inline-block;
      padding: 3px 4px; }
  nav .right-nav-list {
    position: absolute;
    right: 0;
    top: 20px; }

@media only screen and (max-width: 860px) {
  nav {
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: black;
    z-index: 2;
    font-size: 1.5rem; }
    nav .middle-nav-list .navigation-items {
      display: none;
      padding: 25vh 0;
      margin: 0;
      position: fixed;
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
      background-color: rgba(255, 255, 255, 0.05); }
      nav .middle-nav-list .navigation-items li {
        display: block;
        width: 300px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        border: solid 0.5px #14FFEC;
        border-radius: 30px;
        background: black;
        margin: 50px auto; }
      nav .middle-nav-list .navigation-items.active {
        display: inline-block; }
    nav .middle-nav-list .right-nav-list {
      right: 50px; }
    nav .middle-nav-list .toggle {
      display: block !important; } }

.primary {
  color: #14FFEC; }

.primary-hover:hover {
  color: #14FFEC;
  animation: top-to-bottom .8s linear;
  cursor: pointer; }

.scale-hover:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  cursor: pointer; }

.primary-dark {
  color: #8892B0; }

.primary-light {
  color: #CCD6F6; }

.inline {
  display: inline; }

.fading {
  animation: fading .9s infinite; }

.left-bar {
  position: fixed;
  left: 0;
  width: 100px;
  margin-top: 30px;
  height: 100vh; }
  .left-bar-social {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    font-size: 30px; }
  .left-bar-social::after {
    content: '';
    width: 2px;
    margin: 4px 0 0 14px;
    height: 200px;
    display: inline-block;
    background-color: #CCD6F6; }

.right-bar {
  position: fixed;
  overflow: hidden;
  font-family: monospace;
  font-size: 1.1rem;
  right: 0;
  width: 100px;
  height: 100vh;
  padding-top: 50vh;
  letter-spacing: 1.5px; }
  .right-bar p {
    transform: rotate(-90deg); }
    .right-bar p:hover {
      animation: top-to-bottom-right-bar .8s linear;
      color: #14FFEC; }
    .right-bar p::after {
      content: '';
      width: 400px;
      height: 2px;
      position: absolute;
      bottom: 10px;
      margin-left: -420px;
      display: block;
      background-color: #CCD6F6; }

.main {
  margin: 50px 100px 200px 100px;
  font-family: monospace;
  font-weight: 100; }
  .main .greetings {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 200px; }
    .main .greetings-text {
      margin-top: 7%;
      text-align: center;
      max-height: 170px; }
    .main .greetings-image, .main .greetings-text {
      width: 50%; }
    .main .greetings-img {
      min-width: 100%; }
    .main .greetings-img {
      margin-top: 20px;
      max-width: 700px;
      max-height: 500px;
      height: 100%;
      width: 100%; }
    .main .greetings .text-writer {
      font-size: 30px;
      font-weight: 900; }
  .main .emote-rotate {
    display: inline-block;
    animation: rotation 0.6s linear infinite; }
  .main .heading {
    font-size: 2rem; }
  .main .about-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px; }
    .main .about-inner-column {
      width: 35%;
      margin: 0 auto;
      position: relative; }
      .main .about-inner-column-title::after {
        content: '';
        position: absolute;
        width: 70%;
        top: 44px;
        height: 2px;
        margin: 0 0 6px 6px;
        display: inline-block;
        background-color: #CCD6F6; }
      .main .about-inner-column-text {
        margin: 0 0 0 10%;
        position: relative; }
    .main .about-inner-image {
      width: 25%;
      margin: 0 auto;
      position: relative; }
      .main .about-inner-image-picture {
        background-image: url("../../assets/eu.png");
        min-width: 230px;
        max-width: 230px;
        height: 300px;
        background-size: cover;
        filter: grayscale(100%); }
        .main .about-inner-image-picture:hover {
          filter: grayscale(0%);
          animation: fading 1s linear;
          cursor: pointer; }
          .main .about-inner-image-picture:hover + .about-inner-image-border {
            top: 20px;
            left: 20px; }
      .main .about-inner-image-border {
        transition: all 1 ease;
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: -1;
        min-width: 230px;
        min-height: 300px;
        border: solid #14FFEC;
        transition: all 0.25s; }
  .main .skills {
    text-align: center;
    margin-bottom: 200px; }
    .main .skills-container {
      margin: 10px 0;
      line-height: 30px;
      padding: 20px 20px;
      border-radius: 30px;
      background-color: rgba(20, 255, 236, 0.3); }
  .main.active {
    filter: blur(5px); }
  .main .projects {
    text-align-last: center; }

@media only screen and (max-width: 1150px) {
  .main {
    margin: 50px 5vw 200px 5vw; }
  .left-bar, .right-bar {
    display: none; }
  .greetings .heading {
    font-size: 1.7rem; }
  .greetings-image {
    min-width: 280px !important; }
  .about {
    width: 70% !important;
    display: block;
    margin: 0 auto; }
    .about-inner-column, .about-inner-image {
      margin: 0 auto !important;
      width: 100% !important; }
    .about-inner-image {
      display: block !important;
      margin: 100px 300vw 0 300vw !important; } }

@media only screen and (max-width: 780px) {
  .greetings-image, .greetings-text {
    width: 100% !important;
    margin: 30px 0;
    text-align: center; }
  .greetings-img {
    max-width: 400px !important; } }

@media only screen and (max-width: 500px) {
  .about-inner-column-title::after {
    width: 40% !important; } }
