.primary{
  @include primary;
}
.primary-hover{
  @include primary-hover;
}
.scale-hover{
  @include scale-hover;
}
.primary-dark{
  @include primary-dark;
}
.primary-light{
  @include primary-light;
}
.inline{
  @include inline;
}
.fading{
  @include fading;
}
a{
  text-decoration: none;
}
.left-bar {
    position: fixed;
    left: 0;
    width: 100px;
    margin-top: 30px;
    height: 100vh;
    
    &-social {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: absolute;
      bottom: 0;
      font-size: 30px; 
    }
      &-social::after {
      content: '';
      width: 2px;
      margin: 4px 0 0 14px;
      height: 200px;
      display: inline-block;
      background-color: $color-primary-light 
      }
}

.right-bar {
  position: fixed;
  overflow: hidden;
  font-family:  sans-serif;  
  font-size: 1.1rem;
  right: 0;
  width: 100px;
  height: 100vh;
  padding-top: 50vh;
  letter-spacing: 1.5px;
    
  p{
      transform: rotate(-90deg);
      &:hover{
        animation: top-to-bottom-right-bar .8s linear;
        color: $color-primary;

      }
       &::after{
        content: '';
        width: 400px;
        height: 2px;
        position:absolute;
        bottom: 10px;
        margin-left: -420px;
        display: block;
        background-color: $color-primary-light;
      }
    }
     
  
}
  
.main {
  margin: 50px 100px 200px 100px;
  font-family:  monospace;  
  font-weight: 100;
      
  .greetings {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $vertical-height;
    &-text {
      margin-top: 7%;
      text-align:center;
      max-height: 400px;
    }
    &-image, &-text {
      width: 50%; 
    }
    &-img{
      min-width: 100%;
    }
    &-img {
      margin-top: 20px;
      max-width: 700px;
      max-height: 500px;
      height: 100%;
      width: 100%; 
    }
    .text-writer{
      font-size:30px;
      font-weight: 900;
    }
    
    &-button {
      align-items: center;
      margin-top: 20px;
      appearance: none;
      background-image: radial-gradient(100% 100% at 100% 0, $color-primary, #5468ff 100%);
      border: 0;
      border-radius: 6px;
      box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
      box-sizing: border-box;
      color:  #fff;
      cursor: pointer;
      display: inline-flex;
      height: 48px;
      justify-content: center;
      list-style: none;
      overflow: hidden;
      padding-left: 16px;
      padding-right: 16px;
      position: relative;
      text-align: left;
      text-decoration: none;
      transition: box-shadow .15s,transform .15s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      will-change: box-shadow,transform;
      font-size: 18px;
      p{
        margin: 0 0 0 8px;
      }
    }
    
    &-button:focus {
      box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    }
    
    &-button:hover {
      box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
      transform: translateY(-2px);
    }
    
    &-button:active {
      box-shadow: #3c4fe0 0 3px 7px inset;
      transform: translateY(2px);
    }
  }
  .emote-rotate{
    display: inline-block;

    animation: rotation 0.6s linear infinite;
  }
  
  .heading {
    font-size: 2rem; 
  }
  
  .about{
    &-inner{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;       
      margin-bottom: $vertical-height;
      &-column{
        width:  35%;
        margin: 0 auto;
        position: relative;
        &-title::after{
          content: '';
          position: absolute;
          width: 70%;
          top: 44px;
          height: 2px;
          margin: 0 0 6px 6px;
          display: inline-block;  
          background-color: $color-primary-light; 
        }
        &-text{
          margin: 0 0 0 10%;
          position: relative;
          
        }
      }
      &-image{
        width: 25%;          
        margin: 0 auto;
        position: relative;
        &-picture{
          background-image: url('../../assets/eu.png');
          min-width: 230px;
          max-width: 230px;
          height: 300px;
          background-size: cover;
          filter: grayscale(100%);
          &:hover {
            filter: grayscale(0%);
            animation: fading 1s linear;
            cursor: pointer;
            & + .about-inner-image-border{
              top: 20px;
              left: 20px;
            }
          }
        }
        &-border{
          transition: all 1 ease;
          position:absolute;
          top: 15px;
          left: 15px;
          z-index: -1;
          min-width: 230px;
          min-height: 300px;
          border: solid $color-primary;
          transition: all 0.25s;
        }
      }
    }
  }
  .skills{
    text-align: center;
    margin-bottom: $vertical-height;
    
    &-container{
      display: flex;
      flex-wrap: wrap;
      p{
        margin: 0;
      }
      &-devicons{
        display: flex;
        flex-direction: column;
        font-size: 1.8rem;
        text-align: center;
        margin: 30px 0;
        padding-top: 30px;
        width: 50%;
        background-color: rgba(20, 255, 236,0.3);
        .devicons{
          font-size: 3rem;
          margin-bottom: 25px;
          padding: 25px 3px;
          .icon{
            padding: 5px;
            background-color: rgba(0,0,0, 0.3);
            border: 4px double $color-primary;
            border-radius: 10px;
            margin: 10px 3px 0 3px;
            &:hover{
              color: var(--color);
              transition: 0.5s;
              transform: scale(1.2);
              background-color: rgba(20, 255, 236,0.2);
            }
          }
          .icon-special:hover{
            font-size: 4rem;
            margin: -5px;
          }
        }
      }
      &-text{
        display: block;
        position: relative;
        margin: 30px 0;
        font-size: 2.0rem;
        width: 50%;
        background-color: rgba(20, 255, 236,0.1);
      }
      &-center{
        padding: 80px 0 40px 8px;
      }
      &-context{
        margin-top: 100px;
        font-size: 1.5rem;
        width: 100%;
      }
    }
  
  }
  &.active{
    filter: blur(5px);
  }
  .projects{
    text-align-last: center;
    margin-bottom: $vertical-height;
    &-container{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    .project-card{
      margin: 30px 2%;
      display: flex;
      flex-direction: column;
      color: $color-primary;      
      text-transform: uppercase;
    }
    &-item{
      height: 350px;
      width: 260px;
      background-image: url('https://images.unsplash.com/photo-1513738781020-f0109e72554f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTg4NDA1NDI&ixlib=rb-1.2.1&q=80&w=400');
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      border-bottom: $color-primary 6px solid;
      border-radius: 10px 10px 10px 10px;
      .know-more{
        position: absolute;
        width: 50px;
        height: 50px;
        left: 30px;
        background-color: #282A37;
        clip-path: circle(50% at 50% 0);
        overflow: hidden;
      }
    }
    .project-title{
      height: 60px;
      background-color: #282A37;
      padding-top: 8px;
      margin-top: -5px;
      border-radius: 0 0 10px 10px;

    }
  }
  .contact{
    text-align: center;
    padding: 0 20%;
    &-icon{
      font-size: 40px;
    }
    a{
      text-decoration: none;
    }
  }
}
  @media only screen and (max-width: 1150px) {
    
    .main{
      margin: 50px 5vw 200px 5vw;

    }
    .left-bar, .right-bar{
      @include disable-view;
    }
    .greetings {
      .heading{
        font-size: 1.7rem;
      }
     
      &-image{
        min-width: 280px !important ;
      }
    }
  .about{
    width: 70% !important;
    display: block;
    margin: 0 auto;
    &-inner{
      &-column,&-image{
        margin: 0 auto !important;
        width: 100% !important;
      }
      &-image{
        display: block !important;
        margin: 100px 300vw 0 300vw !important ;
      }
    }
  }
    
}

@media only screen and (max-width: 780px) {
  .greetings {

    &-image, &-text {
      width: 100% !important; 
      margin: 30px 0;
      text-align: center;
    }
    &-img{
      max-width: 400px !important;
    }
  }
  .skills{
    &-container{
      &-devicons, &-text{
        width: 100% !important;
      }
      &-center{
        position: relative !important;
      }
    }
  }
  .contact{
    text-align: center;
    padding: 0 5% !important;
  }
}
footer{
  position: absolute;
  left: 0;
  width: 100%;
  background-color: black;
  height: 40px;
  text-align: center;
  a{
    transition: 2 ease;
  }
  a:hover{
    color: mediumaquamarine;
  }
}
@media only screen and (max-width: 500px) {
  .about-inner-column-title::after{
    
    width: 40% !important;
  }
  footer{
    min-height: 80px;
  }

}
@media only screen and (max-width: 400px) {
  

}
@media only screen and (max-width: 350px) {
  
   
   
}



