.primary{
  @include primary;
}
.primary-hover{
  @include primary-hover;
}
.primary-dark{
  @include primary-dark;
}
.primary-light{
  @include primary-light;
}
.inline{
  @include inline;
}
.fading{
  @include fading;
}

li::marker{
  display:none;
}
nav {
    margin: 30px 100px;
    display: block;
    height: 50px; 
   
    .brand{
      position: absolute;
      height: 150px;
      width: 150px;
      left: .2rem;
      top: 0;
    }
    .right-nav-list{
      font-family:  monospace;  
    }
    ul {
      float: right;
       li {
        display: inline-block;
        padding: 3px 4px;
      }     
    }

}

  
  .left-bar {
    position: fixed;
    left: 0;
    width: 100px;
    margin-top: 30px;
    height: 90vh;
    background-color: $color-background;
    &-social {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: absolute;
      bottom: 0;
      font-size: 30px; }
      &-social::after {
      content: '';
      width: 2px;
      margin: 4px 0 0 14px;
      height: 200px;
      display: inline-block;
      background-color: $color-primary-light }
    }
  .right-bar {
    position: fixed;
    font-family:  monospace;  
    right: 0;
    width: 100px;
    height: 100vh;
    background-color: $color-background;
    padding-top: 50vh;
    letter-spacing: 3px;
    
    p{
      transform: rotate(-90deg);
      &:hover{
        animation: top-to-bottom-right-bar .8s linear;
        color: $color-primary;

      }
       &::after{
        content: '';
        width: 400px;
        height: 2px;
        position:absolute;
        bottom: 10px;
        margin-left: -420px;
        display: block;
        background-color: $color-primary-light;
      }
    }
     
  
  }
  
  .main {
    margin: 50px 100px 200px 100px;
    font-family:  monospace;  
    font-weight: 100;
      
    .greetings {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 240px;
      &-text {
        margin: 5% 0 0 0;
        text-align:center;
      }
      &-image, &-text {
        width: 50%; 
      }
      &-img{
        min-width: 350px;
      }
      &-img {
        max-width: 700px;
        max-height: 500px;
        height: 100%;
        width: 100%; 
      }
      .text-writer{
        font-size:30px;
        font-weight: 900;
      }
      
    }
    .emote-rotate{
      display: inline-block;

      animation: rotation 0.6s linear infinite;
    }
   
    .heading {
      font-size: 2rem; 
    }
    
    .about{
      margin-left: 5%;
      &-text::after {
        content: '';
        width: 200px;
        height: 3px;
        margin: 0 0 6px 6px;
        display: inline-block;  
        background-color: $color-primary-light; 
      }
    
      &-inner {
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-between;
      }
    
     
      &-inner-text{
        width: 45%;

      }
      &-inner-image {
        width: 35%;
        position: relative;

      }
      &-inner-image{
        img{
          width: 100%;
          height: 100%;
          max-width: 250px;
          max-height: 300px;
          filter: grayscale(100%);
          &:hover {
            filter: grayscale(0%);
            animation: fading 1s linear;
            cursor: pointer;
            & + .about-inner-image-border{
              top: 15px;
              left: 15px;
            }
          }
        }
        &-border{
            position:absolute;
            top: 10px;
            left: 10px;
            z-index: -1;
            min-width: 250px;
            min-height: 300px;
            border: solid #14FFEC;
            transition: all 0.25s;
    
         }
        
      }
    }

  }
  @media only screen and (max-width: 1250px) {
    .main{
      margin: 50px 5vw 200px 5vw;

    }
    .left-bar, .right-bar{
      @include disable-view;
    }
    .greetings {
      .heading{

        font-size: 1.7rem;
      }
     
      &-image{
        min-width: 280px !important ;
      }
    }
  }
@media only screen and (max-width: 780px) {
  .greetings {

    &-image, &-text {
      width: 100% !important; 
      margin: 30px 0;
      text-align: center;
    }
    &-img{
      max-width: 400px !important;
    }
  }
  .about{
    &-inner-text, &-inner-image{
      width: 100% !important;
      margin: 20px 0;
    }
    img{
      margin: 0 auto;
      display: block;
    }
    &-inner-image-border{
      left: 27vw !important;
    }
  }
}
@media only screen and (max-width: 500px) {
  .about-inner-image-border{
      left: 19vw !important;

   }

}
@media only screen and (max-width: 400px) {
  .about-inner-image-border{
      left: 12vw !important;
     

   }

}